alias o='open .'
alias x='open -a `xcode-select --print-path`/../.. .'
alias b='stash browse'

alias gbm='git co main && git pull && git co -f && git co -'
alias gcm='git co main'
alias grc='git rebase --continue'
alias gri='git rebase -i'
alias grm='git rebase -i main'
alias gra='git rebase --abort'
alias mgm='git ls-files -mz | xargs -0 mate'

# Identify the number of merged PRs, by author, for the past week.
alias merges='git shortlog -sne --since="`date -v -1w +%Y-%m-%d`" --before="`date +%Y-%m-%d`" --merges'

alias odd='open ~/Library/Developer/Xcode/DerivedData'
alias cdd='cd ~/Library/Developer/Xcode/DerivedData'
alias xsp='xcode-select -p'
alias xss='sudo xcode-select -s'

alias bpc='be pod check'
alias bi='bundle install'
alias bpi='be pod install'
alias bpiru='be pod install --repo-update'
alias bpo='be pod open'
alias bumpprotos='bundle exec pod update $(grep "^  - .*Proto" Podfile.lock | perl -pe "s/  - (\S+).*/\1/")'

alias create='./Scripts/CreateNewModule'
alias dev='./Scripts/Develop'
alias lint='./cash lint --fix && ./cash lint'
alias oldlint='./Scripts/Lint --fix --quiet --strict && ./Scripts/Lint --quiet --strict'

alias fuckssh='killall ssh-agent; eval "$(ssh-agent -s)" && ssh-add -K'

alias sst='open vnc://theater@thoth.local'

# For a source file path in cash-ios, return the name of the module.
# ex: Code/Features/ClusterName/ModuleName/Sources/File.swift -> ModuleName
alias modulename="sed -r 's/(.*)\/(Sources|UnitTests|SnapshotTests|DevApp)\/.*/\1/g' | xargs basename"

# Bazel with a lower minimum disk space
alias b="CASH_BAZEL_BUILD_MIN_AVAILABLE_DISK_SPACE_BYTES=40000000000 bazel"

alias bb="b build"
alias br="b run"
alias bt="b test"

# Build the world
alias bbw="bb //..."
alias bbc="bb //Code/Apps/CashApp"

# Run CashApp
alias brc="bb run //Code/Apps/CashApp"

# # Get the path to a module. Module name is expected as a parameter.
# module_path() {
#    spec = `find . -name $1.podspec`
#    path = `dirname $spec | tr "." "/"`
#    echo "$path"
# }
#
# # Get the bazel path to a module. Module path is expected as a parameter.
# module_bazel_path() {
#    bazel_path = `echo $1 | tr "." "/"`
#    echo "$bazel_path"
# }
#
# # Build a module. Module name is expected to follow this command
# bbm() {
#    bb `module_bazel_path $1`
# }
# alias bbm=