[color]
	ui = auto
[user]
	name = Brian Partridge
	email = brianpartridge@gmail.com
[github]
	user = brianpartridge
	token = 75661c7323f8d71dbc2ccd3ccbae3a56
[alias]
	merge = merge --no-ff
	s = status
	st = status
	c = commit
	co = checkout
	cp = cherry-pick
	d = diff
	ds = diff --stat
	dt = difftool
	mt = mergetool
	b = branch
	l = log
	ls = log --stat
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	ksreview = "!f() { local SHA=${1:-HEAD}; local BRANCH=${2:-main}; if [ $SHA == $BRANCH ]; then SHA=HEAD; fi; git difftool -y -t Kaleidoscope $BRANCH...$SHA; }; f"
[advice]
	statusHints = false
[core]
	whitespace = trailing-space,space-before-tab
	excludesfile = /Users/brian/.gitignore_global
[branch]
	autosetupmerge = true
[merge]
	stat = true
	tool = Kaleidoscope
[diff]
	tool = Kaleidoscope
[difftool]
	prompt = false
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool "sourcetree"]
	cmd = /usr/local/bin/ksdiff -w \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /usr/local/bin/ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
